<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Pet Guardian</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Pet Guardian</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.nmloc.petcare</string>
				<string>com.googleusercontent.apps.729399796474-bkei8t7vc5ql3hvpm7nok3iaj7mng0us</string>
				<string>fb832080058396373</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FacebookAppID</key>
	<string>832080058396373</string>
	<key>FacebookClientToken</key>
	<string>0727403d0b4d33053d255a6c739f4c34</string>
	<key>FacebookDisplayName</key>
	<string>Pet Guardian </string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your device&apos;s camera to capture photos and videos of your pets. This allows you to document memorable moments, take pictures for your pet&apos;s profile, and provide remote monitoring of your pets while you&apos;re away.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need access to your device&apos;s location to find our nearest branch from your current location. This allows you to experience our services better.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need access to your device&apos;s location to find our nearest branch from your current location. This allows you to experience our services better.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need access to your device&apos;s location to find our nearest branch from your current location. This allows you to experience our services better.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We require access to your device&apos;s microphone for audio features within the app. This includes recording pet sounds, such as barks or meows, for health monitoring, training, or communication purposes.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to save and organize pet photos and videos that you capture using the app. This allows you to create a visual diary of your pet&apos;s life, easily share pet updates with friends and family, and store important pet-related images, such as vaccination records.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
