<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729399796474-blranjqp8ct33u27j7l54qgff2e4fg4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729399796474-blranjqp8ct33u27j7l54qgff2e4fg4q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>729399796474-ph5cn0efl4mkp7kpvk8uod0pn646f7gn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJlBP6NYpNrnLmQoXf-mgrJxLIKckNESE</string>
	<key>GCM_SENDER_ID</key>
	<string>729399796474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petcareStaff</string>
	<key>PROJECT_ID</key>
	<string>pet-care-b0d24</string>
	<key>STORAGE_BUCKET</key>
	<string>pet-care-b0d24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729399796474:ios:174b7cb70763e081ec9f43</string>
	<key>DATABASE_URL</key>
	<string>https://pet-care-b0d24-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>